<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name of continent</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let continent of continents">
      <td><span>{{continent.id}}</span></td>
      <td><span>{{continent.nameOfContinent | titlecase}}</span></td>
      <td>
        <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, continent)">
          <i class="fa fa-search"></i>Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #contentDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-details">Continent details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="form-group">
      <label for="nameOfContinentDetails">Name of continent</label>
      <div class="input-group">
        <input id="nameOfContinentDetails" class="form-control" readonly>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>
