<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/country"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-caret-square-o-up"></i></span>
        <br> Countries
      </a>
    </div>
    <div class="col-sm">
      <a href="/city"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-align-center"></i></span>
        <br> Cities
      </a>
    </div>
    <div class="col-sm">
      <a href="/continent"
         role="button"
         class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-university"></i></span>
        <br> Continents
      </a>
    </div>
  </div>
</div>
